form {
    grid-area: s;
    display: flex;
    align-items: center;
    padding-right: 3em;
    background-color: #141527;
}

input {
    height: 50%;
    width: 100%;
    border-radius: 2em;
    margin-left: 1em;
    border: none;
    font-size: 2em;
    font-weight: bold;
}

.search-button {
    border: none;
    background-color: #b46bf0;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    width: 10em;
    height: 50%;
    border-radius: 2em;
    margin-left: 1em;
    letter-spacing: 2px;
}

.search-button:hover {
    background-color: #d0acef;
  }

  /* ::placeholder {
    color: #000;
    font-size: small;
    letter-spacing: 2px;
    text-align: center;
  } */