.card {
    border: 3px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 100%;
    color: #FFF;
}

.read-article-button {
    background-color: #b46bf0;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    padding: 10px;
    width: 100%;
}

.read-article-button:hover {
    background-color: #d0acef;
  }

.card-body {
    background-color: #FFF;
    flex-grow: 1;
    padding: 20px;
}